/*app.css*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  position: relative;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  background-color: aqua;
  margin-bottom: 3;
  border-radius: 5;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 680px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
.myfooter {
  background-color: black;
  color: white;
  padding: 15px;
  align-content: center;
  text-align: center;
  bottom: 0;
  position: relative;
  left:0px;
  width:100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}