<!--index.html-->
<html lang="en">
<head >
    <!--/* css */ -->
    <link rel="stylesheet" href="app.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/css" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css"></script>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--global scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>

    <!--local scripts and links-->
    <script type="text/javascript" src="app.js"></script>
    <script src="components/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="components/ng-sockjs/dist/ng-sockjs.min.js"></script>

    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src="Service/HttpService.js"></script>
    <script src="Service/UserService.js"></script>
    <script src="Login/LoginService.js"></script>
    <script src="profile/Ctrl1.js"></script>
    <script src="Interceptors/HttpInterceptor.js"></script>

    <script type="text/javascript" src="Login/LogInOutCtrl.js"></script>

</head>
<body ng-app="myApp">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div  ng-controller="Ctrl1" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div ng-controller="LoginCtrl" class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li ng-if="status > 1"><a href="#/AllUsers">All users</a></li>
                <li ng-if="status > 2"><a href="#/Permissions">Permissions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isLogged"><a href="#/LoginView"><span class="glyphicon glyphicon-log-in"></span> Login/Create Account</a></li>
                <li ng-click="logout()" ng-if="isLogged"><a href="" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>


    </div>
</nav>
<!--prikaz komponente view1.html-->
<div ng-view=""></div>

</body>
</html>