<div class="row">
  <link rel="stylesheet" type="text/css" href="css/createLoginCss.css">

  <div class="col-xs-6 col-md-1" color="white">.</div>
  <div class="col-xs-6 col-md-4">
    <div>
      <b>Login:</b>
      <br><br>
      <input type="text"  class="form-control" placeholder="email..." ng-model="email" ng-enter="loginAction()"></input>
      <br>
      <input type="password" class="form-control" placeholder="password..." ng-model="password" ng-enter="loginAction()"></input>
      <br>
      <button type="button" class="btn btn-success" ng-click="loginAction()">Login</button>
      <div ng-if="emptyFieldsLogIn" class="alert alert-danger" role="alert"> MORATE POPUNITI SVA POLJA</div>
      <div ng-if="wrongFill" class="alert alert-danger" role="alert"> POGRESAN UNOS</div>
      <div ng-if="notVerify" class="alert alert-danger" role="alert"> NALOG NIJE VERIFIKOVAN</div>
    </div>
  </div>

  <div class="col-xs-6 col-md-2"><font color="white">.</font></div>


  <div class="col-xs-6 col-md-4">

    <b>Create Account:</b>
    <br>
    <div>
       <input type="text" class="form-control" placeholder="Name..." ng-model="registrationDto.name" ng-enter="register()"></input>
    </div>
    <br>
    <div>
      <input type="text" class="form-control"  placeholder="Surname..." ng-model="registrationDto.surname" ng-enter="register()"></input>
    </div>
    <br>
    <div>
      <input type="text" class="form-control"  placeholder="Email..." ng-model="registrationDto.email" ng-enter="register()"></input>
    </div>
    <br>
    <div>
       <input type="password" class="form-control" placeholder="Password..."  ng-model="registrationDto.password" ng-enter="register()"></input>
    </div>
    <br>
    <div>
      <input type="password" class="form-control" placeholder="Confirm password..." ng-model="registrationDto.confirmPassword" ng-enter="register()"></input>
    </div>
    <br>
    <div>
      <input type="text" class="form-control"  placeholder="Index..." ng-model="registrationDto.index" ng-enter="register()"></input>
    </div>
    <br>
    <div>
      <input type="text" class="form-control"  placeholder="Group..." ng-model="registrationDto.grupa" ng-enter="register()"></input>
    </div>
    <br>
    <!--<button ng-click="register()">Create Account</button>-->
    <button ng-click="register()" type="button" class="btn btn-primary" ng-enter="register()">Create Account</button>
    <div ng-if="isregistered" class="alert alert-success" role="alert"> USPESNO STE REGISTROVANI,PROVERITE SVOJ MEJL</div>
    <div ng-if="emptyFieldsRegistration" class="alert alert-danger" role="alert"> MORATE POPUNITI SVA POLJA</div>
    <div ng-if="isError" class="alert alert-danger" role="alert"> DOSLO JE DO GRESKA!</div>

  </div>
  <div class="col-xs-6 col-md-1"><font color="white">.</font></div>
</div>