.loginForm{
    width: 90%;
    height: 100%;
    position: relative;
    align-self: center;
    margin: auto;
}

.createForm{
    width: 90%;
    height: 100%;
    position: relative;
    align-self: center;
    margin: auto;
}