.scrollArea {

    height: 100px;
    width: 500px;
    /*background-color: burlywood;*/
    align-items: center;
    align-self: center;
    text-align: center;
    border-color: black;
    align-content: center;
    border-color: black;
    border-right-style: groove;
    border-left-style: groove;
    border-top-style: groove;
    border-bottom-style:solid;
}

.fewProducts {

    height: 100px;
    width: 500px;
    /*background-color: burlywood;*/
    align-items: center;
    align-self: center;
    text-align: center;
    border-color: black;
    align-content: center;
    border-color: black;
    border-right-style: groove;
    border-left-style: groove;
    border-top-style: groove;
    border-bottom-style:solid;
}



.product {
    width: 300px;
    height: 300px;
    background-color: dimgray;
    margin: auto;
    border-left-style: groove;
}

.price {
    color: red;
    position: relative;
    right:0px;
    left:100px;
    align-self: center;
}

.name {
    font-style: italic;
    position: relative;
    right:0px;
    left:100px;
    align-self: center;
}

.imgstyle{

    cursor: hand;
}

.buttonShowMore{
    position: relative;
    align-self: center;
    margin: auto;
}

.singleProduct{
    width: 300px;
    height: 100%;
    float: left;
    position: relative;
    align-self: center;
    margin: auto;
}
.container {
    height: 100%;
    align-self: center;
}
.productcontainer{
    position: relative;
    left: 100px;
    right:0;
    align-self: center;
    width: 600px;
    height:100%;
    border-right-style: groove;
    border-left-style: groove;
    margin:auto;
}
.productcontainer button {
    align-self: center;
}

.productcontainer image {
    border: solid;
    border-color: red;
    border-top-style: ridge;
}

.commentsSection{
    float: right;
    width: 400px;
    height: 100%;
}
