.containerProduct{
    /*position: relative;*/
    left: 100px;
    right:0;
    align-self: center;
    width: 100%px;
    height:100%;
    border-right-style: groove;
    border-left-style: groove;
    margin-bottom: 100px;
}

.singleProduct{
    background-color: #e8e8e8;
    float: left;
    width: 60%;
    padding: 10px;
    margin: 10px;
}

.commentsSection{
    background-color: #e8e8e8;
    float: right;
    width: 35%;
    padding: 10px;
    margin: 10px;
}
