.mytextarea {
    height: 100%;
    /*background-color: darkgray;*/
    font-size: 20px;
    font-family: "Franklin Gothic Medium";
    text-align: center;
    border-color: crimson;
    /*overflow: auto;*/
    width: 500px;
    align-content: center;

    /*background-image: url("https://goo.gl/nu6qmT");*/
}

.textContainer {
    margin: auto;
    width: 500px;
    align-self: center;
    position: relative;
}
